/* font settings */
*{
    font-family: Roboto, sans-serif;
}

/* body styles */
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* header styles */
.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.right-links {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    align-items: center;
    padding: 0 1%;
}

.right-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    color: #E5E7EB;
}

/* main content styles */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* first div styles */
.first-div {
    background-color: #1F2937;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 9em;
    padding: 4% 0%;
}

.first-div .left-side, .first-div .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4% 0;
}

.first-div .left-side {
    width: 22%;
    align-items: flex-start;
}

.first-div .left-side h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.first-div .left-side p {
    color: #E5E7EB;
    margin-top: 0;
    font-size: large;
}

.first-div .left-side button{
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 2% 7%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
}

.first-div .right-side {
    padding: 0 10%;
    align-items: flex-start;
}

.first-div .right-side {
    background-color: #6D747D;
    color: #E5E7EB;
}

/* random-info styles */
.random-info-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random-info-div h2 {
    color: black;
    font-weight: 900;
    font-size: 36px;
}

.random-info-div .info-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 25%;
    flex-wrap: wrap;
}

.item div {
    background-color: white;
    border: 5px solid #3882f6;
    border-radius: 5%;
    min-width: 150px;
    min-height: 150px;
}

.item p {
    width: 150px;
    text-align: center;
    color: #6D747D;
}

/* quote styles */
.quote-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #E5E7EB;
    padding: 2%;
    width: 100%;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #E5E7EB;
}

.quote {
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 0;
}

.quote-author {
    color: #1F2937;
    font-size: 18px;
    align-self: flex-end;
    margin-top: 0;
    padding-top: 0;
}

/* action styles */
.action-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 100%;
}

.action-container {
    width: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
    background-color: #3882f6;
    border: 1px solid #3882f6;
    border-radius: 5px;
    padding: 1%;
}

.action-text h4{
    color: #F9FAF8;
    margin-bottom: 0;
}

.action-text p {
    color: #E5E7EB;
    font-weight: 300;
    margin-top: 0;
    font-size: smaller;
}

.action-button button {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 5% 7%;
    border: 1px solid #F9FAF8;
    border-radius: 5px;
    font-weight: bold;
    width: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 1%;
    background-color: #1F2937;
    color: #E5E7EB;
}